{% extends "base.html" %}
{% load static %}
    {% block title %}The Food Kingdom | Karta{% endblock title%}
    {% block content %}
        <div>
            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="headingHanburgesa">
                    <h5 class="mb-0">
                      <button class="btn btn-link" data-toggle="collapse" data-target="#collapseHanburgesa" aria-expanded="true" aria-controls="collapseHanburgesa">
                        Hanburgesa
                      </button>
                    </h5>
                  </div>
              
                  <div id="collapseHanburgesa" class="collapse" aria-labelledby="headingHanburgesa" data-parent="#accordion">
                    <div class="card-body">
                      <p><a href="#">Hanburgesa begetarianoak</a></p>
                      <p><a href="#">Hanburgesa txikiak</a></p>
                      <p><a href="#">Hanburgesa handiak</a></p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingMexikanarra">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseMexikanarra" aria-expanded="false" aria-controls="collapseMexikanarra">
                        Mexikanarra
                      </button>
                    </h5>
                  </div>
                  <div id="collapseMexikanarra" class="collapse" aria-labelledby="headingMexikanarra" data-parent="#accordion">
                    <div class="card-body">
                        <p><a href="#">Enchiladak</a></p>
                        <p><a href="#">Tacos</a></p>
                        <p><a href="#">Tamales</a></p>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingOgitartekoak">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOgitartekoak" aria-expanded="false" aria-controls="collapseOgitartekoak">
                        Ogitartekoak
                      </button>
                    </h5>
                  </div>
                  <div id="collapseOgitartekoak" class="collapse" aria-labelledby="headingOgitartekoak" data-parent="#accordion">
                    <div class="card-body">
                        <p><a href="#">Ogitarteko erdia</a></p>
                        <p><a href="#">Ogitarteko osoa</a></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <div class="container w-50">
            <h1 class="text-center">Salduenak</h1>
            <div class="d-flex flex-row justify-content-around flex-wrap" style="border: 2px solid #F99245; border-radius:30px; padding: 10px;">
                <div class="text-center">
                    <p>Enchilada</p>
                    <img src="{% static 'img/enchilada.jpg'%}">
                </div>
                <div class="text-center">
                    <p>Tamales</p>
                    <img src="{% static 'img/enchilada.jpg'%}">
                </div>
                <div class="text-center">
                    <p>York gazta</p>
                    <img src="{% static 'img/enchilada.jpg'%}">
                </div>
                <div class="text-center">
                    <p>Bacon Burger</p>
                    <img src="{% static 'img/enchilada.jpg'%}">
                </div>
                <div class="text-center">
                    <p>Mole</p>
                    <img src="{% static 'img/enchilada.jpg'%}">
                </div>
                <div class="text-center">
                    <p>Hanburgesa berezia</p>
                    <img src="{% static 'img/enchilada.jpg'%}">
                </div>
            </div>
        </div>
    {% endblock content %}
    {% block javascript %}
    {% endblock javascript %}