{% extends "base.html" %} 
{% load static %} 
{% block title %}The Food Kingdom | Karta{% endblock title%} 
{% block content %}
<div class="wrapper_grid">
  <aside class="wrapper_aukerak">
    <h6 class="mb-5 text-light"><i>Sailkatu zure gustoko janariaren arabera</i></h6>
    <div id="accordion">
      <div class="card">
        <div class="card-header background_urdina" id="headingHanburgesa">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed text-white button_text" data-toggle="collapse" data-target="#collapseHanburgesa" aria-expanded="true" aria-controls="collapseHanburgesa">Hanburgesak</button>
          </h5>
        </div>

        <div id="collapseHanburgesa" class="collapse" aria-labelledby="headingHanburgesa" data-parent="#accordion">
          <div class="card-body collapsed_aukerak">
            <p><a class="sailkatu" href="">Hanburgesa begetarianoak</a></p>
            <br />
            <p><a class="sailkatu" href="">Gourmet hanburgesak</a></p>
            <br />
            <p><a class="sailkatu" href="">Hanburgesa potenteak</a></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header background_urdina" id="headingMexikanarra">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed text-white button_text" data-toggle="collapse" data-target="#collapseMexikanarra" aria-expanded="false" aria-controls="collapseMexikanarra">Mexikanarra</button>
          </h5>
        </div>
        <div id="collapseMexikanarra" class="collapse" aria-labelledby="headingMexikanarra" data-parent="#accordion">
          <div class="card-body collapsed_aukerak">
            <p><a class="sailkatu" href="">Takoak</a></p>
            <br />
            <p><a class="sailkatu" href="">Entxiladak</a></p>
            <br />
            <p><a class="sailkatu" href="">Natxoak</a> </p>
            <br />
            <p><a class="sailkatu" href="">Tamalak</a></p>
            <br />
            <p><a class="sailkatu" href="">Txilakilak</a></p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header background_urdina" id="headingOgitartekoak">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed text-white button_text" data-toggle="collapse" data-target="#collapseOgitartekoak" aria-expanded="false" aria-controls="collapseOgitartekoak"> Ogitartekoak</button>
          </h5>
        </div>
        <div id="collapseOgitartekoak" class="collapse" aria-labelledby="headingOgitartekoak" data-parent="#accordion">
          <div class="card-body collapsed_aukerak">
            <p><a class="sailkatu" href="">Ogitarteko klasikoak</a></p>
            <br />
            <p><a class="sailkatu" href="">Gourmet ogitartekoak</a></p>
          </div>
        </div>
      </div>
       <div class="card">
        <div class="card-header background_urdina" id="headingEdariak">
          <h5 class="mb-0">
            <button
              class="btn btn-link collapsed text-white button_text" data-toggle="collapse" data-target="#collapseEdariak" aria-expanded="false" aria-controls="collapseEdariak"> Edariak</button>
          </h5>
        </div>
        <div id="collapseEdariak" class="collapse" aria-labelledby="headingOgitartekoak" data-parent="#accordion">
          <div class="card-body collapsed_aukerak">
            <p><a class="sailkatu" href="">Freskagarriak</a></p>
            <br />
            <p><a class="sailkatu" href="">Ura</a></p>
            <br />
            <p><a class="sailkatu" href="">Alkoholdun edariak</a></p>
          </div>
        </div>
      </div>
    </div>
  </aside>

  <div class="wrapper_tituloa">
    <h1 class="text-center">KARTA</h1>
  </div>
  <section id="janariak" class="wrapper_janaria">
    {% for janari in janariak %}
    <div id="janaria" class="text-center">
      <a id="link" href="{% url 'produktua' id=janari.id %}">
        <img src="{{janari.argazki_url}}" />
        <p id="janari_izena">{{janari.izena}}</p>
      </a>
    </div>
    {% endfor %}
  </section>
</div>

<script>
  $(document).ready(function(){
    $(".sailkatu").click(function(e){
      
      e.preventDefault();
      let submota =$(this).text();
  
      let csrftoken = '{{ csrf_token }}';
      let datuak= {submota:submota}
      
      $.ajax({
        type: 'POST',
        headers:{'X-CSRFToken':csrftoken},
        url: "{% url 'karta_sailkatua' %}",
        data: datuak,
        dataType:'json',
        success: function (response) {
          kodigoa=""
          for(let i=0; i<response.length;i++){
            kodigoa += '<div id="janaria" class="text-center">';
            
            kodigoa+='<a id="link" href="/produktua/'+response[i].id+'">';
               
            kodigoa+='<img src="'+response[i].argazki_url+'">';
            kodigoa+='<p id="janari_izena">'+response[i].izena+'</p>';
            kodigoa+='</a></div>';
            
            $("#janariak").html(kodigoa);
          }
        },
        error: function (response) {
            alert("Errore bat egon da kargatzerakoan")
        },
      })
    });
  });
</script>
{% endblock content %} 
{% block javascript %} 

{% endblock javascript %}
