{% extends "base.html" %} 
{% load static %} 
{% block title %}The Food Kingdom{%endblock title%} 
{% block content %}

<div class="container d-flex flex-column align-items-center my-5">
  <section class="produktua_div">
    <div class="info">
      <h4>{{produktua.izena}}</h4>
      <img src={{produktua.argazki_url}} />
      {% if produktua.mota == "Edariak" %}
        <ul>
          <li>Prezioa: {{produktua.prezioa}} €</li>
        </ul>
      {% else %}
        <ul>
          <li>{{produktua.osagaiak}}</li>
          <li>Alergenoak? {{produktua.alergenoak}}</li>
          <li>Prezioa: {{produktua.prezioa}} €</li>
        </ul>
      {% endif %}
    </div>
    <div class="katitatea">
      <h5>Prezioa</h5>
      <input id="prez" type="text" value="{{produktua.prezioa}}" disabled />

      <div>
        <a id="kendu"><i class="fa-solid fa-circle-minus icon"></i></a>
       <p id="kopurua">1</p>
        <a id="gehitu"><i class="fa-solid fa-circle-plus icon"></i></a>
      </div>

      <button>GEHITU</button>
    </div>
  </section>
</div>
{% endblock content %} 
{% block javascript %}

{% endblock javascript %}
