{% extends "base.html" %} 
{% load static %} 
{% block title %}The Food Kingdom{%endblock title%} 
{% block content %}

<div class="container d-flex flex-column align-items-center my-5">
  <section class="produktua_div">
    <div class="info">
      <h4>{{produktua.izena}}</h4>
      <img src={{produktua.argazki_url}} />
      {% if produktua.mota == "Edariak" %}
        <ul>
          <li>Prezioa: {{produktua.prezioa}} €</li>
        </ul>
      {% else %}
        <ul>
          <li>{{produktua.osagaiak}}</li>
          <li>Alergenoak? {{produktua.alergenoak}}</li>
          <li>Prezioa: {{produktua.prezioa}} €</li>
        </ul>
      {% endif %}
    </div>
    <div class="katitatea">
      <h5>Prezioa</h5>
      <input id="prez" type="text" value="{{produktua.prezioa}}" disabled />

      <div>
        <a onclick="kendu()"><i class="fa-solid fa-circle-minus icon"></i></a>
       <p id="kopurua">1</p>
        <a onclick="gehitu()"><i class="fa-solid fa-circle-plus icon"></i></a>
      </div>

      <button>GEHITU</button>
    </div>
  </section>
</div>
<script>
  function gehitu() {
    <!--Kopurua -->
    kopz = parseInt($("#kopurua").html())

    <!--Prezio totala -->
    prezio = parseFloat($("#prez").val())

    kopb = kopz + 1;
    $("#kopurua").html(kopb);
    kalkul = ((prezio/kopz) + prezio).toFixed(2)
    $("#prez").val(kalkul);
  }

  function kendu() {
    <!--Kopurua -->
    kopt = parseInt($("#kopurua").html())
    if (kopt != 1) {
      <!--Prezio totala -->
      prezi = parseFloat($("#prez").val())

      kopl = kopt - 1
      $("#kopurua").html(kopl);
      kalkulo = (prezi - (prezi/kopt)).toFixed(2);
      $("#prez").val(kalkulo);
    }
  }
</script>
{% endblock content %} 
{% block javascript %}

{% endblock javascript %}
