{% extends "base.html" %}
{% load static %}
    {% block title %}The Food Kingdom | Erregistroa{% endblock title%}
    {% block content %}

    <div class="container d-flex flex-column align-items-center my-5">
        <div class="text-center border p-3" style="width: fit-content;">
            <h1>ERREGISTROA</h1>
            
            <div class="form-group">
                <input type="text" class="form-control" id="inputErabiltzailea" placeholder="Erabiltzailea">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputIzena" placeholder="Izena">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="inputAbizena" placeholder="Abizena">
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="inputKorreoa" placeholder="Korreoa">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="inputPasahitza" placeholder="Pasahitza">
              </div>
              <div class="form-group">
                <input type="password" class="form-control ikonoa-input" id="inputPasahitzaErrepikatu" placeholder=" Errepikatu pasahitza">
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Gogoratu pasahitza</label>
              </div>

            <button class="btn botoiUrdina mt-2" type="submit">ERREGISTRATU</button>
        </div>
        </div>
    </div>

    {% endblock content %}
    {% block javascript %}
    {% endblock javascript %}