*{
    font-family: Gabriela;
}

.user_icon{
    max-width: 60px;
    color: #fff;
    margin-right: 5%
}

.content_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding-top: 5em;
  margin-bottom: 3em;
}

.content_wrapper div {
    border: 3px solid #F99245;
    border-radius: 40px;
    width: 30%;
    height: 95%;

}

.content_wrapper p {
    padding-top: 0.5em;
    text-align: center;
    font-size: 26px;

}

.img_style{
    max-width: 80%;
    max-height: 80%;
    border-radius: 20px;
    margin-bottom: 2em;
}
.foot{
  width: 100%;
  background-color: #1A1A1C;
  color: white;
  text-align: center;
}

.copyright_img{
    width: 4%;
    margin-top: 5px;
    padding-bottom: 1.5em;
    margin-left: 5em;
}

.footer_div{
    padding: 1em;
}

.footer_title{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.footer_title:hover {
    color: #fff;
    text-decoration: none;
}

.terminoak{
    padding: 1em;
    margin-left: -100px;
}

nav a{
    color: #fff !important;
}

/* cambiar color de letra */
nav ul li a{
    color: #fff !important;
    font-size: 30px;
    margin-left: 150px;
}

nav ul li a:hover{
    color: #F99245 !important;

}

/* cambiar el color de fondo a la barra */
nav.navbar {
    background-color: #0038A8;
}

.nav_div a{
    font-size: 50px;
}

.elements{
padding-left: 10%;
}



/* Register */
.botoiUrdina{
    background-color: #0038A8; 
    color: white;
}

.ikonoa-input{
    font-family:Gabriela, FontAwesome;
}