{% extends "base.html" %}
{% load static %}
{% block title %}The Food Kingdom | Erregistroa{% endblock title%}
{% block content %}

<div class="container text-center my-3">
    <section class="d-flex justify-content-center align-items-center">
        <div class="mr-3">
            <img src="{% static 'img/usuario.png'%}"class="img-fluid rounded-circle p-2 mb-3" style="width:120px; border-radius: 10px; background-color: black;">
            <h5>{{user.username}}</h5>
            <h5>{{user.first_name}}</h5>
            <h5>{{user.last_name}}</h5>
            <h5>{{user.email}}</h5>
            <h5>Zure puntuak {{bezeroa.puntuak}}</h5>
        </div>
        <a href="{% url 'profilaaldatu' id_erabiltzaile=user.id %}"><i class="fa-solid fa-pen text-dark"></i></a>
    </section>
</div>

<section class="eskariak_title">
    <h5>ESKARIAK</h5>
</section>
<section class="eskariak">
    {% for eros in erosketak %}
    <div class="eskaria">
        <div class="eskari_info">
            <p>Eskaria #5345A</p>
            <div>
                <p>{{eros.eguna}}</p>
                <p>{{eros.ordua}}</p>
            </div>
        </div>
        <div class="mt-3">
        {% for saski in saskiak %}
        {% if eros.id == saski.erosketa_id_id%}
            <p>{{saski.janari_id}}</p>
        {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}
</section>
{% endblock content %}
{% block javascript %}
{% endblock javascript %}