{% extends "base.html" %}
{% load static %}
{% block title %}The Food Kingdom | Erregistroa{% endblock title%}
{% block content %}

<div class="container text-center my-3">
    <section class="d-flex justify-content-center align-items-center">
        <div class="mr-3">
            <img src="{% static 'img/usuario.png'%}"class="img-fluid rounded-circle p-2 mb-3" style="width:120px; border-radius: 10px; background-color: black;">
            <h5>{{user.username}}</h5> 
            <h5>{{user.first_name}} {{user.last_name}}</h5>
            <h5>{{user.email}}</h5>
            <h5>Zure puntuak {{bezeroa.puntuak}}</h5>
        </div>
        <a href="{% url 'profilaaldatu' id_erabiltzaile=user.id %}"><i class="fa-solid fa-pen text-dark"></i></a>
    </section>
</div>

<section class="eskariak_title">
    <h5>ESKARIAK</h5>
</section>
<section class="eskariak">
    {% for eros in erosketak %}
    <div class="eskaria d-flex flex-column justify-content-center">
        <div class="eskari_info">
            <p>Eskaria #{{eros.id}}TFK</p>
            <div>
                <p>{{eros.eguna}}</p>
                <p>{{eros.ordua}}</p>
            </div>
        </div>
        <div class="mt-4">
        {% for saski in saskiak %}
        {% if eros.id == saski.erosketa_id_id%}
            <div class="d-flex justify-content-between">
                <p>{{saski.janari_id}} x {{saski.kantitate_kopurua}}</p>
                <p>{{saski.guztira}} €</p>
            </div>
            <hr class="mt-0 w-100">
        {% endif %}
        {% endfor %}
        </div>
        
        <p class="text-right">{{eros.totala}} €</p>
        <hr class="mt-0 w-100">
        <div class="d-flex justify-content-between">
            <p><b>Desk. eta bidalketa kostua eta gero:</b></p>
            <p class="text-right">{{eros.ordaintzeko_guztira}} €</p>
        </div>
    </div>
    {% endfor %}
</section>

<script>

</script>

{% endblock content %}
{% block javascript %}
{% endblock javascript %}