{% extends "base.html" %}
{% load static %}
{% block title %}The Food Kingdom | Erregistroa{% endblock title%}
{% block content %}

<div class="container text-center my-3">
        <div class="d-flex justify-content-center align-items-center">
        <div class="mr-3">
            <img src="{% static 'img/usuario.png'%}"class="img-fluid rounded-circle p-2 mb-3" style="width:120px; border-radius: 10px; background-color: black;">
            <h5>Pepetxu</h5>
            <h5>pepetxu@gmail.com</h5>
        </div>
        <a href="{% url 'profilaaldatu' %}"><i class="fa-solid fa-pen text-dark"></i></a>
    </div>
</div>

<div class="eskariak_title">
    <h5>ESKARIAK</h5>
</div>
<div class="eskariak">
    <div>
        <div class="eskari_info">
            <p>Eskaria #5345A</p>
            <div>
                <p>23 Feb 2022</p>
                <p>8:28 PM</p>
            </div>
        </div>
    </div>
    <div>
        <div class="eskari_info">
            <p>Eskaria #6575D</p>
            <div>
                <p>17 Mar 2022</p>
                <p>5:28 AM</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block javascript %}
{% endblock javascript %}