{% extends "base.html" %}
{% load static %}
    {% block title %}The Food Kingdom | Profila{% endblock title%}
    {% block content %}

    <div class="container rounded bg-white mt-5 mb-5">
      <div class="row">
          <div class="col-md-3 border-right">
              <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{% static 'img/usuario.png'%}"><span class="font-weight-bold">Pepetxu</span><span class="text-black-50">Pepetxu@gmail.com</span><span> </span></div>
          </div>
          <div class="col-md-5 border-right">
              <div class="p-3 py-5">
                  <div class="d-flex justify-content-between align-items-center mb-3">
                      <h4 class="text-right">Erabiltzaile Profila</h4>
                  </div>
                  <div class="row mt-2">
                      <div class="col-md-6"><label class="labels">Izena</label><input type="text" class="form-control" placeholder="Izena" value=""></div>
                      <div class="col-md-6"><label class="labels">Abizena</label><input type="text" class="form-control" value="" placeholder="Abizena"></div>
                  </div>
                  <div class="row mt-3">
                      <div class="col-md-12"><label class="labels">Usuarioa</label><input type="text" class="form-control" placeholder="Usuarioa" value=""></div>
                      <div class="col-md-12"><label class="labels">Pasahitza</label><input type="text" class="form-control" placeholder="Pasahitza" value=""></div>
                      <div class="col-md-12"><label class="labels">DNI</label><input type="text" class="form-control" placeholder="DNI" value=""></div>
                      <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="Email" value=""></div>
                      <div class="col-md-12"><label class="labels">Education</label><input type="text" class="form-control" placeholder="education" value=""></div>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Superuser bat da?
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Staff da?
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Actiboa da?
                    </label>
                  </div>

                  <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button"><a href="{% url 'profila' %}">Aldaketak Gorde</a></button></div>
              </div>
          </div>
      </div>
  </div>
  </div>
  </div>
    {% endblock content %}
    {% block javascript %}
    {% endblock javascript %}