{% extends "base.html" %} {% load static %} {% block title %}The Food Kingdom |
Erosketa{% endblock title%} {% block content %}

<div class="container d-flex flex-column align-items-center my-2">
    <section class="saski_guztia">
        <h1 class>EROSTEKO PROZESUA</h1>
        <h5><a>1.- Erabiltzailearen datuak</a><i
                class="fa-solid fa-arrow-right"></i><a style="background-color:white;border-radius:40px;padding:3px 3px;"> 2.- Ordainketa metodoak </a><i
                class="fa-solid fa-arrow-right"> </i> <a> 3.- Erosketaren laburpena</a></h5>

        <section class="eskariak">
            <div>
                <div class="eskari_info">
                    <form method="post" action="#">
                        <input type="radio" id="txartela" name="ordainketaMet" value="txartela">
                        <label for="txartela"><img src="{% static 'img/Rectangle35.png'%}"></img></label><br>
                        <input type="radio" id="paypal" name="ordainketaMet" value="paypal">
                        <label for="paypal"><img src="{% static 'img/Paypal.png'%}"></img></label><br>
                    </form>
                </div>
            </div>
            <div class="eskari_info">
                <form method="post" class="text-center">
                    {% csrf_token %}
                    <h5>Helbidea</h5>
                    <div class="form-group">
                        <input type="text" class="form-control input_form" id="inputTxart"
                               placeholder="&#xf007;  Txartela Zbk" name="txartelaZbk">
                    </div>
                    <div class="form-group">
                        <input type="date" class="form-control input_form" id="inputdata"
                               placeholder="&#xf007;  Iraungitze data" name="iraungitzeData">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input_form" id="inputTitularra"
                               placeholder="&#xf007;  Titularra" name="titularra">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input_form" id="inputHelbidea"
                               placeholder="&#xf0e0;  CCV" name="CCV">
                    </div>

                    <button class="btn btn_log mt-2" type="submit">JARRAITU</button>
                </form>
            </div>
        </section>
    </section>
</div>

{% endblock content %} {% block javascript %} {% endblock javascript %}
