{% extends "base.html" %} {% load static %} {% block title %}The Food Kingdom |
Erosketa{% endblock title%} {% block content %}

<div class="container d-flex flex-column align-items-center my-2">
    <br><br>
    <section class="saski_guztia">
        <h1>EROSTEKO PROZESUA</h1>
        <h5><a>1.Erabiltzailearen datuak</a> &nbsp;<i
                class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;<a>2.Ordainketa metodoak</a>&nbsp;&nbsp;<i
                class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;<a style="background-color:white; border-radius:40px; padding:5px 5px;">3.Erosketaren laburpena</a></h5>
        <div class="container">

        </div>
    </section>
    <br><br>
</div>
{% endblock content %}
{% block javascript %}
{% endblock javascript %}
