{% extends "base.html" %} {% load static %} {% block title %}The Food Kingdom |
Erosketa{% endblock title%} {% block content %}

<div class="container d-flex flex-column align-items-center my-2">
    <br><br>
    <section class="saski_guztia">
        <h1>EROSTEKO PROZESUA</h1>
        <h5><a>1.Erabiltzailearen datuak</a> &nbsp;<i
                class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;<a>2.Ordainketa metodoak</a>&nbsp;&nbsp;<i
                class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;<a class="style_white">3.Erosketaren laburpena</a></h5>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <br>
                    <h3><u>Bidalketa</u></h3>
                    <p>{{bidalketa.helbidea}}</p>
                    <p>{{bidalketa.herria}} {{bezeroa.posta_kodea}}</p>
                    <p>{{bidalketa.probintzia}}</p>
                    <p class="erosketaLaburp">Bidalketa kostuak: {{bidalketa.kostua}}€</p>

                    <p>Zure eskaria helduko da: <span>{{bidalketa.ordua}}</span></p>
                    <p>Zure puntuak: <span id="puntuak">{{bezeroa.puntuak}}</span></p>
                    <button id="trukatu" class="btn btn_trukatu text-white">Trukatu</button>
                </div>

                <div class="col-6 erosketaLaburp"><br>
                {% for saski in saskia %}
                    <p>{{saski.kantitate_kopurua}} x {{saski.janari_id}}&nbsp;&nbsp; ----> &nbsp;&nbsp;{{saski.guztira}}€</p>
                {% endfor %}
                    <p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -</p>
                    <p>Subtotal: &nbsp;&nbsp; ----> &nbsp;&nbsp;<span id="totala">{{erosketa.totala}}</span><span>€</span></p>
                    <p>Bidalketa kostuak: &nbsp;&nbsp; ----> &nbsp;&nbsp;<span id="kostuak">{{bidalketa.kostua}}</span>€</p>
                    <p id="deskontuak">Deskontua: &nbsp;&nbsp; ----> &nbsp;&nbsp; -<span id="deskontua"></span>€</p>
                    <hr>
                    <h3>TOTALA: <span id="guztira">{{erosketa.ordaintzeko_guztira}}</span>€</h3>
                    <input id="id_erosketa" type="hidden" value="{{erosketa.id}}">
                </div>
            </div>

            <a href="{% url 'erosketa_bukatu' %}" class="btn btn_eros text-white">BUKATU EROSKETA</a>
        </div>
    </section>
    <br><br>
</div>

<script>
    $(document).ready(function(){
        $("#deskontuak").css("display","none")
        let guztira=parseFloat($("#guztira").text().replace(',', '.'))
 
        // Ajax para los gastos de envios y para los puntos
        let csrftoken = '{{ csrf_token }}';
        $("#trukatu").click(function(){
            $.ajax({
            type:'POST',
            headers:{'X-CSRFToken':csrftoken},
            url: "{% url 'puntuak_trukatu' %}",
            dataType:'json',
            success: function (response) {
                $("#trukatu").prop("disabled",true)
                $("#deskontuak").css("display","block")
                $("#deskontua").html(response.deskontua)
                $("#puntuak").html(response.puntuak)
                $("#guztira").html(guztira-response.deskontua)
            },
        })
        })
        

        
    });
</script>
{% endblock content %}
{% block javascript %}
{% endblock javascript %}
