{% extends "base.html" %} 
{% load static %} 
{% block title %}The Food Kingdom |Erosketa{% endblock title%} 
{% block content %}
 {% for message in messages  %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Mezua : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
    {% endfor %}
<div class="container d-flex flex-column align-items-center my-2">

    <br><br>
    <section class="saski_guztia">
        <h1 class>EROSTEKO PROZESUA</h1>
        <h5><a>1.Erabiltzailearen datuak</a> &nbsp;<i
                class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;<a class="style_white">2.Ordainketa metodoak</a>&nbsp;&nbsp;<i
                class="fa-solid fa-arrow-right"></i>&nbsp;&nbsp;<a>3.Erosketaren laburpena</a></h5>

        <section>
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <form method="post">
                            <input type="radio" id="txartela" name="ordainketaMet" value="txartela" checked>
                            <label for="txartela"><img src="{% static 'img/Rectangle35.png'%}"></label><br>
                            <input type="radio" id="paypal" name="ordainketaMet" value="paypal">
                            <label for="paypal"><img src="{% static 'img/Paypal.png'%}"></label><br>
                        </form>
                    </div>

                    <div class="col-6">
                        <form action="{% url 'gehitu_ordainketa_datuak' %}" method="post" class="needs-validation">
                            {% csrf_token %}
                            <h5>Txartel datuak</h5>
                            <div class="form-group">
                                <input type="text" maxlength="16" class="form-control input_form" id="inputTxart"
                                       placeholder="&#xf007;  Txartel zenbakia" name="txartelaZbk" required>
                            </div>
                            <div class="form-group">
                                <input id="startDate" class="date-picker form-control input_form"
                                       placeholder="&#xf007;  Iraungitze data" name="iraungitzeData" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input_form" id="inputTitularra"
                                       placeholder="&#xf007;  Titularra" name="titularra" required>
                            </div>
                            <div class="form-group">
                                <input type="password" maxlength="3" class="form-control input_form" id="inputHelbidea"
                                       placeholder="&#xf084;  CVV" name="CVV" required>
                            </div>
                            <button id="jarraitu" class="btn btn_jarraitu mt-2" type="submit">JARRAITU</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <br><br>
</div>
 <script type="text/javascript">
    $('.date-picker').datepicker({
       format: 'mm/yyyy',
       startView: 'months',
       minViewMode: 'months'
     });
    </script>

<script src="{% static 'js/scripta_erosketa_ordainketa.js'%}"></script>

{% endblock content %}
{% block javascript %}
{% endblock javascript %}
