{% extends "base.html" %} 
{% load static %} 
{% block title %}The Food Kingdom{%endblock title%} 
{% block content %}

<div class="container d-flex flex-column align-items-center my-5">
  <section class="produktua_div">
    <div class="info">
      <h4>{{produktua.izena}}</h4>
      <img src={{produktua.argazki_url}} />
      {% if produktua.mota == "Edariak" %}
        <ul>
          <li>Prezioa: {{produktua.prezioa}} €</li>
        </ul>
      {% else %}
        <ul>
          <li>{{produktua.osagaiak}}</li>
          <li>Alergenoak? {{produktua.alergenoak}}</li>
          <li>Prezioa: {{produktua.prezioa}} €</li>
        </ul>
      {% endif %}
    </div>
    <div class="katitatea">
      <form method="post" action="{% url 'gehitu_saskira' %}">
        {% csrf_token %}
        <h5>Prezioa</h5>
        <input type="text" value="{{produktua.id}}" style="display:none" name="id">
        <input id="prezioa" type="text" value="{{produktua.prezioa}}" style="display:none" name="prezioa">
      
        <input id="guzt" type="text" value="{{produktua.prezioa}}" name="guztira" />
      
        <div>
          <a id="kendu"><i class="fa-solid fa-circle-minus icon"></i></a>
          {% if saskia %}
          <input type="text" id="kopurua" value="{{saskia.kantitate_kopurua}}" name="kop" />
          {% else %}
          <input type="text" id="kopurua" value="1" name="kop" />
          {% endif %}
          <a id="gehitu"><i class="fa-solid fa-circle-plus icon"></i></a>
        </div>
      
        <button type="submit">GEHITU</button>
      </form>

    </div>
  </section>
</div>
{% endblock content %} 
{% block javascript %}

{% endblock javascript %}
